/* Stylesheet for Small Devices */

/* Header */
.navbar .nav li a {
	padding: 15px 12px;
	margin: 0;
	font-size: 15px;
}
.navbar .nav li:first-child a {
	margin-left: 0;
}
.navbar .nav li:last-child a {
	margin-right: 0;
}