// Color Swatches
.color-swatch {
    height: 100px;
    @include shadow-3();
    margin-bottom: 15px;
    padding: 15px;
    border: 5px solid #FFF;
    color: #FFF;
    background-color: #eee;
    &.swatch1 {
        background-color: $alchin-green;
    }
    &.swatch2 {
        background-color: $alchin-green-light;
    }
    &.swatch3 {
        background-color: $alchin-green-dark;
    }
    &.swatch4 {
        background-color: $alchin-blue;
    }
    &.swatch5 {
        background-color: $alchin-blue-light;
    }
    &.swatch6 {
        background-color: $alchin-blue-dark;
    }
    &.swatch7 {
        background-color: $alchin-bright-green;
    }
    &.swatch8 {
        background-color: $alchin-bright-green-light;
    }
    &.swatch9 {
        background-color: $alchin-bright-green-dark;
    }
}
.details {
    color: $text-muted;
}
